/* Basic Styles */
:root {
    --bg-color: #ffe5d0;
    --section: #fffefb;
    --header-text: #fffcea;
    --header-link: #ffdead;
    --text: #64240d;
    --link: #ee5119;
    --accent: #fd7e0e;
    --gradient: #f86257;
    --header: #f5425a;
}

[data-theme="dark"] {
    --bg-color: #202023;
    --section: #2f2b3b;
    --header-text: #eaf9ff;
        --header-link: #d3bbff;
    --text: #c6dcea;
    --link: #ef91e1;
    --accent: #503fa8;
    --gradient: #5f39a7;
    --header: #5a2a84;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
}

h3,
nav {
    color: var(--header-text);
}

p {
    max-width: 80ch;
    margin: 0 auto;
}

p~p {
    margin-top: 1rem;
}

i {
    vertical-align: middle;
    transition: transform 0.3s ease;
    margin: 0 0.1rem;
}

/* Utility Classes */
.sr-only,
.hidden {
    position: absolute;
    visibility: hidden;
}

.collapsed {
    height: 0;
    visibility: hidden;
}

.expanded {
    height: 100%;
    visibility: visible;
    transition: transform 0.3s ease;
}

.mobile-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Header and Footer */
header,
footer {
    background-color: var(--header);
    color: var(--header-text);
    padding: 1rem;
    text-align: center;
}

header {
    background-image: linear-gradient(to right, var(--header), var(--accent));
}

footer {
    font-weight: bold;
}

.menu>li,
.site-id>h2 {
    padding: 1rem 0.75rem;
}

header i {
    font-size: 2rem;
    margin: 0 0.5rem;
}

.menu nav div.flex {
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.menu-container {
    width: 100%;
}

/* Main */
main {
    position: relative;
}

main h2 {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

main .fancy-section h3 {
    background-color: var(--header);
    position: absolute;
    padding: 1rem;
    width: 100%;
    top: -3.20rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px 15px 0 0;
}

main section {
    position: relative;
    margin: 2rem auto;
    max-width: 90vw;
}

main .fancy-section {
    margin-top: 6rem;
}

main section>div {
    background-color: var(--section);
    padding: 2rem 1.25rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}

section div.notice {
    border: dashed 2px var(--header);
}

/* About Section */
.about-pic {
    width: 80px;
    height: 80px;
    padding: 0;
    position: absolute;
    right: 0.5rem;
    top: -3.6rem;
    border: solid 3px var(--header);
    border-radius: 50%;
    overflow: hidden;
}

.about-pic img {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.about-image {
    height: 0;
    visibility: hidden;
}

/* Cards */
.card-section {
    background-color: unset;
    padding: 0;
    text-align: center;
}

.card-section>div {
    background-image: linear-gradient(var(--header), var(--gradient));
    color: var(--header-text);
    width: 100%;
    margin: 2rem auto;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.5s;
}

.card-section h3 {
    margin: 0.5rem 0;
    font-size: 2rem;
    text-align: center;
}

.card-text {
    padding: 0 1rem 1.5rem 1rem;
}

.card-section ul:not(.tags) {
    font-size: 1.75rem;
}

/* Navigation */
a,
a:link,
a:visited {
    color: var(--link);
}

a:hover,
a:active {
    color: var(--accent);
}

header a,
header a:link,
header a:visited,
footer a,
footer a:link,
footer a:visited {
    color: var(--header-text);
}

footer a:hover {
    text-decoration: underline;
}

header a:hover:not(h2 a)
{
     color: var(--header-link);
}

/* Special/Misc */
.center-text {
    text-align: center;
}

span.emphasis {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--link);
}

span.bold {
    font-weight: bold;
}

.tags {
    justify-content: center;
}

ul.tags li {
    color: var(--section);
    background-color: var(--text);
    opacity: 50%;
    justify-content: center;
    padding: 0.30rem 0.75rem;
    margin: 0 0.25rem 0.5rem 0.25rem;
    border-radius: 20px;
}

ul.tags li:hover {
    cursor: default;
    opacity: 80%;
}

.accordion-title,
.accordion-body {
    margin: 1rem auto;
}

.accordion-title {
    background-color: var(--accent);
    color: var(--header-text);
    max-width: 80ch;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.accordion-title:hover,
.muted {
    opacity: 85%;
}

.accordion-title.expanded i {
    transform: rotate(180deg);
}

.accordion-body {
    max-width: 90%;
}

.lightswitch-container:not(.lightswitch.mobile) {
    visibility: hidden;
    position: absolute;
}

.lightswitch.mobile {
    position: absolute;
    right: 1rem;
    top: 13rem;
}

/* Resume Page */
#resume {
    background-color: var(--section);
    border-radius: 20px;
    margin: 2rem 0.5rem;
    padding: 0;
}

#resume section {
    margin: 0;
}

.main-content,
.sidebar {
    padding: 2rem;
}

.main-content div {
    padding: 0;
    margin: 0.3rem 0;
}

.resume-heading .flex {
    gap: 1rem;
}

#resume p:not(.resume-heading) {
    max-width: none;
    margin: 0;
}

.resume-page h2 {
    margin: 0;
}

.resume-page h4 {
    border-bottom: 2px solid var(--text);
    font-size: 1.5rem;
    margin: 1rem 0;
}

.resume-page h5:not(.sidebar h5) {
    color: var(--link);
    font-size: 1.25rem;
    margin: 0;
}

.resume-page ul {
    list-style: inside;
}

.resume-page .main-content {
    margin: 0 auto;
}

#resume.flex {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.resume-page .job-item:nth-of-type(-n + 2) {
    border-bottom: 2px var(--accent) solid;
    border-radius: 0;
    padding-bottom: 2rem;
}

.education div {
    margin: 0;
}

.education .logo {
    width: 4rem;
}

.education .education-item {
    margin: 1.5rem 0;
}

.education .education-item,
.job-item div {
    flex-direction: column;
    align-items: flex-start;
}

.sidebar {
    margin: 0;
    color: var(--header-text);
    background-color: var(--header);
    border-radius: 0 0 20px 20px;
}

.sidebar h4 {
    border-bottom: 2px solid var(--header-text);
}

.sidebar h5 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.sidebar i {
    vertical-align: unset;
}

/* Media Queries */
@media screen and (min-width: 596px) {
    /*Padding Adjustments*/
    main section {
        margin: 2rem auto;
        max-width: 80vw;
    }

    main section>div {
        padding: 2rem;
    }
}

@media screen and (min-width: 790px) {
    /* Adjusting Flex+Size Settings */
    .align-right {
        text-align: right;
    }

    .education .align-right {
        text-align: left;
    }

    .hamburger-menu {
        display: none;
    }

    main h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .flex:not(#resume) {
        display: flex;
        flex-flow: row wrap;
    }

    #resume {
        margin: 2rem 6rem;
    }

    #resume .education-item .flex {
        flex-direction: column;
        align-items: flex-start;
        width: 89%;
    }

    .menu-container {
        width: unset;
        flex-wrap: nowrap;
        align-items: center;
    }

    nav {
        font-size: 1.25rem;
        justify-content: space-between;
    }

    .menu {
        justify-content: flex-end;
    }

    .accordion-title {
        max-width: 65ch;
    }

    /* Header */
    header i {
        font-size: 2.5rem;
        margin: 0 0.70rem;
    }

    .icons a:nth-child(1) {
        margin-left: 1rem;
    }

    /* Cards */
    .card-section>div {
        max-width: 47%;
        margin: 1rem auto;
    }

    .card-section>div:hover {
        transform: scale(105%);
        background-image: linear-gradient(var(--gradient), var(--gradient));
    }

    .main-content .resume-heading .flex {
        justify-content: center;
    }

    .lightswitch.mobile {
        visibility: hidden;
    }

    .lightswitch-container:not(.lightswitch.mobile) {
        visibility: visible;
        position: fixed;
    }

    .lightswitch {
        background-color: var(--section);
        position: fixed;
        text-align: center;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        left: 1rem;
        bottom: 1rem;
        opacity: 70%;
        transition: all 0.3s;
        font-size: 2.5rem;
    }

    .lightswitch:hover {
        opacity: 100%;
        transform: scale(105%);
    }
}

@media screen and (min-width: 1024px) {
    #resume .education-item .flex {
        flex-flow: column wrap;
    }

    /* Padding Adjustments */
    main section {
        margin: 2rem auto;
    }

    .homepage section:nth-of-type(-n + 1) {
        margin: 6rem auto 0 auto;
        max-width: 60vw;
    }

    .about-pic {
    width: 120px;
    height: 120px;
    top: -4.6rem;
    border: solid 5px var(--header);
}

    /* Cards */
    .card-section {
        justify-content: center;
    }

    .card-section>div {
        max-width: 30%;
        margin: 1rem;
    }

    /* Resume Page */
    #resume {
        display: flex;
        max-width: 80vw;
        margin: 2rem auto;
    }

    .main-content {
        max-width: 70%;
    }

    .main-content .resume-body .flex,
    .education .education-item.flex .flex {
        justify-content: space-between;
        align-items: flex-start;
    }

    .job-item .flex div:first-of-type {
        max-width: 80%;
    }

    .resume-page ul {
        width: 85%;
    }

    .education .education-item.flex {
        align-items: center;
        gap: 1rem;
    }

    .education .education-item.flex .flex {
        gap: 1rem;
    }

    .sidebar {
        width: 30%;
        padding-top: 9.79rem;
        border-radius: 0 20px 20px 0;
    }

    #resume .sidebar p {
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    /* Adjusting Flex Settings */
    #resume .education-item .flex {
        flex-flow: row wrap;
    }

    .education .align-right {
        text-align: right;
    }

    .about-text > div.flex {
    margin: auto 4.5rem;
    align-items: flex-end;
    justify-content: space-between;
    }

    .about-image {
    visibility: visible;
    height: unset;
    width: 38%;
    max-width: 315px;
}

    .about-summary {
    width: 60%;
    }
}

@media screen and (min-width: 1800px) {
     .homepage section {
        max-width: 1400px;
     }
        .homepage section:nth-of-type(-n + 1) {
        margin: 8rem auto 0 auto;
        max-width: 1050px;
    }
}