/* Basic Styles */

:root,
:root.light {
    --bg-color: #ffe5d0;
    --white: #fffefb;
    --header-text: #fffcea;
    --text: #6c2c15;
    --link: #ef6d3e;
    --accent: #ffb97b;
    --header: #ff5a70;
}


html {
    font-size: 16px;
}

body {
    font-size: 100%;
    font-family: 'Nunito', sans-serif;
    background-color: var(--bg-color);
    color: var(--text);
}

h2 {
    font-family: "Archivo", sans-serif;
    color: var(--header-text);
}

p {
    max-width: 80ch;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

.mobile-flex {
    display: flex;
    justify-content: center;
}

/* Header, Footer and Main */
/* To be used later for hamburger menu */
menu {
    position: absolute;
    display: hidden;
}

header,
footer {
    background-color: var(--header);
    color: var(--header-text);
    text-align: center;
    line-height: 5rem;
}

header {
    padding: 0 1rem;
    background-image: linear-gradient(to right, var(--header) , var(--accent));
}

header svg {
    fill: var(--bg-color);
    width: 4rem;
}

main h2 {
    background-color: var(--header);
    position: absolute;
    padding: 1rem 1rem;
    margin: 0 0 0 -1px;
    width: 100%;
    top: -2rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px 15px 0 0;
}

main section {
    position: relative;
    margin: 4rem 2rem;
}

main section>div {
    background-color: var(--white);
    padding: 3.5rem 2rem 2rem 2rem;
    text-align: center;
    border-radius: 15px;
}

section div.notice {
    border: dashed 2px var(--header);
}

/* About Section */
.about-pic {
    width: 80px;
    height: 80px;
    padding: 0;
    position: absolute;
    right: 0.5rem;
    top: -2.4rem;
    border: solid 3px var(--header);
    border-radius: 50%;
    overflow: hidden;
}

.about-pic img {
  width: 100%;
  object-fit: cover;
}


/* Project Section */

.project-list {
    background-color: unset;
}

.project-list>div {
    background-color: var(--header);
    width: 100%;
    margin: 1rem auto;
}

/* Navigation */
header a,
header a:link,
header a:visited {
    color: var(--header-text);
    padding: 0.5rem 1rem;
}

a {
    color: var(--link);
}

a:link,
a:visited {
    color: var(--link);
}

a:hover,
a:active {
    color: var(--accent);
}

/* Media Queries */
@media screen and (min-width: 576px) {
    .flex {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    nav {
        justify-content: space-between;
    }

    .menu {
        justify-content: flex-end;
        display: visible;
        position: relative;
    }

    .project-list>div {
        background-color: var(--header);
        width: 45%;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 1024px) {
    main {
        padding: 0 20rem;
    }
}